/*
  Fonts licenced to uts domain
  http://www.uts.edu.au/themes/uts_theme/src/vendor/neubauberlin
 */
/*
@font-face{
  font-family: "NB Akademie Std";
  src: url("../fonts/nb-akademie/nb_akademie_std_regular-webfont.woff2") format("woff2"),
       url("../fonts/nb-akademie/nb_akademie_std_regular-webfont.woff") format("woff");
       font-weight:normal;
}

@font-face{
  font-family: "NB Akademie Std";
  src: url("../fonts/nb-akademie/nb_akademie_std_bold-webfont.woff2") format("woff2"),
       url("../fonts/nb-akademie/nb_akademie_std_bold-webfont.woff") format("woff");
       font-weight:bold;
}
*/