.bg-black{
  background-color: $background-color;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

html, body {
  height: 100%;
  margin: 0;
}

.content {
  min-height: 100%;
}

.content-inside {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  height: 70px;
}

.footer p {
  margin: 0 auto;
  padding-top: .5em;
}

.card {
  border: none;
}

.card-header{
  background-color: #ddd;
}

.header-main {
  a {
    color: $menu-color;
    bottom: 12px;
    position: absolute;
    padding: 0 12px;
    font-size: 40px;

    &:hover {
      color: $menu-color;
      text-decoration: none;
    }
  }
}

.mainmenu-area {
  background: none repeat scroll 0 0 $background-color;
  width: 100%;
  z-index: 999;
  color: $over-color;
}

.nav-main {
  background-color: $background-color;
  color: $over-color;
}

.container-main {
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
}

.search-header {
  color: $over-color;
  background-image: $search-header-background-image;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-no-refiner {
  height: 40em;
  width: 500px;
  background-color: $refiner-card-bg-color;
}

#map_viewer {
  height: 300px;
}
